:root {
	--menubar-height: 2.5em;
}

body, div, nav, h1 {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
	font-size: 16pt;
}

body {
	min-height: 100vh;
}

.main {
	min-height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.sidebar {
	flex: 1 max(16em, 15%);
	background-color: var(--sidebar-bg-color);
}

.sidebar-hidden {
	flex: 0;
}

.sidebar-inner {
	display: block;
	width: 100%;
	height: 100%;
}

.menubar {
	display: flex;
	align-items: stretch;
	height: var(--menubar-height);
	border-bottom: 1px solid var(--menubar-border-color);
	background-color: var(--page-bg-color);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.menubar-button {
	border: 0;
	padding: 0;
	margin: 0;
	width: var(--menubar-height);
	background: none;
	font-size: 1em;
	color: var(--menubar-color);
	cursor: pointer;
}

.menubar-button:hover {
	color: var(--menubar-button-hover);
}

.menubar-title {
	padding: 0.25em;
	text-align: center;
	flex: auto;
	color: var(--menubar-color);
	overflow: hidden;
	font-size: 1.25em;
}

.page {
	flex: auto;
	width: 100%;
	background-color: var(--page-bg-color);
	color: var(--page-color);
}

.page > main {
	margin: auto;
	max-width: 50em;
	padding: 2em 4em;
	hanging-punctuation: allow-end;
	font-kerning: none;
	font-feature-settings: "palt" 0;
}

@media screen and (max-width: 812px) {
	.page > main {
		padding: 1em 2em;
	}
}

.page > main h1 {
	text-align: center;
	font-size: 1.75em;
}
